<div class="container" ng-controller="gradeCtrl">
    <div class="panel-heading">Listing Courses</div>

    <div class="panel-body">
        <button type="button" class="btn btn-info" data-target="#NewCourse" data-toggle="nodal">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>

    <table class="table table-bordered">
        <thead style="background-color: burlywood;">
            <tr>
                <th>ID Course</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="course in Grades">
                <td>{{course}}</td>
                <td>{{course.Course_Name}}</td>
                <td style="width: 200px">
                    <a href="#" class="btn btn-info">Atualizar</a>
                    <a href="#" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal" id="NewCourse" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-info">Adicionar Funcionario</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="AdicionarNovoFuncionarioForm"></form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/AngularJs/Module.js"></script>
    <script src="~/AngularJS/Grade/Grade.Service.js"></script>
    <script src="~/AngularJS/Grade/Grade.Controller.js"></script>

}